<a href="https://colab.research.google.com/github/Saumya0330/Machine_Learning_Saumya_UML501/blob/main/ML_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Marketing department of Adventure Works Cycles wants to increase sales by targeting specific
customers for a mailing campaign. The company's database contains a list of past customers and a list of
potential new customers. By investigating the attributes of previous bike buyers, the company hopes to
discover patterns that they can then apply to potential customers. They hope to use the discovered patterns
to predict which potential customers are most likely to purchase a bike from Adventure Works Cycles.

#Part I: Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data Source

In [2]:
import numpy as np
import pandas as pd

(a) Examine the values of each attribute and Select a set of attributes only that would affect to predict
future bike buyers to create your input for data mining algorithms. Remove all the unnecessary
attributes. (Select features just by analysis).

In [3]:
data = pd.read_csv('AWCustomers.csv')
print(data.head())

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]

In [ ]:
#attributes such as CustomerID, Title (that has nan values), firstName, MiddleName, LastName, Suffix, LastUpdated, PhoneNumber
# surely would not be able to predict whether a person would buy a bike or not.

In [4]:
data.shape

(18361, 24)

In [22]:
data1 = pd.read_csv('AWSales.csv')
data1.head()

   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

In [23]:
merged_data = pd.merge(data, data1, on='CustomerID', how='inner')
merged_data.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,M,M,1,3,0,1,81916,2017-03-06,1,50.97
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,M,M,1,2,1,2,81076,2017-03-06,1,53.11
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,F,S,0,3,0,0,86387,2017-03-06,1,54.08
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,M,M,1,2,1,2,61481,2017-03-06,1,56.93
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,M,S,1,1,0,0,51804,2017-03-06,1,55.41

b) Create a new Data Frame with the selected attributes only.

In [24]:
df = merged_data.drop(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',  'LastUpdated', 'PhoneNumber', 'AddressLine2', 'AddressLine1'], axis=1)
print(df.head())

          City    StateProvinceName CountryRegionName PostalCode   BirthDate  \
0   Wollongong      New South Wales         Australia       2500  1987-11-13
1      Shawnee     British Columbia            Canada    V9B 2C3  1972-07-21
2  West Covina           California     United States      91791  1985-11-09
3    Liverpool              England    United Kingdom     L4 4HB  1977-10-18
4        Werne  Nordrhein-Westfalen           Germany      59368  1975-02-05

         Education      Occupation Gender MaritalStatus  HomeOwnerFlag  \
0        Bachelors        Clerical      M             M              1
1  Partial College        Clerical      M             M              1
2        Bachelors        Clerical      F             S              0
3  Partial College  Skilled Manual      M             M              1
4  Partial College  Skilled Manual      M             S              1

   NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome  \
0                3                     0              1         81916
1                2                     1              2         81076
2                3                     0              0         86387
3                2                     1              2         61481
4                1                     0              0         51804

   BikeBuyer  AvgMonthSpend
0          1          50.97
1          1          53.11
2          1          54.08
3          1          56.93
4          1          55.41

In [25]:
print(df.shape)

(18361, 16)

c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of
each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [26]:
print(df.dtypes)

City                     object
StateProvinceName        object
CountryRegionName        object
PostalCode               object
BirthDate                object
Education                object
Occupation               object
Gender                   object
MaritalStatus            object
HomeOwnerFlag             int64
NumberCarsOwned           int64
NumberChildrenAtHome      int64
TotalChildren             int64
YearlyIncome              int64
BikeBuyer                 int64
AvgMonthSpend           float64
dtype: object

In [ ]:
#City                    Qualitative-Nominal
#StateProvinceName       Qualitative-Nominal
#CountryRegionName       Qualitative-Nominal
#PostalCode              Qualitative-Nominal
#BirthDate               Qualitative-Nominal
#Education               Qualitative-Ordinal
#Occupation              Qualitative-Nominal
#Gender                  Qualitative-Nominal-Binary
#MaritalStatus           Qualitative-Nominal-Binary
#HomeOwnerFlag            Discrete, Nominal-Binary
#NumberCarsOwned          Discrete, Quantitative-Ratio
#NumberChildrenAtHome     Discrete, Quantitative-Ratio
#TotalChildren            Discrete, Quantitative-Ratio
#YearlyIncome             Continuous, Quantitative-Ratio
#BikeBuyer                Nominal-Binary
#AvgMonthSpend            Continuous, Quantitative-Ratio

In [31]:
from datetime import date

df['BirthDate'] = pd.to_datetime(df['BirthDate'])
today = pd.Timestamp.today()
# Calculate age in years by dividing the timedelta by the average number of days in a year
df['Age'] = (today - df['BirthDate']).dt.days / 365.25
df = df.drop(['BirthDate'], axis=1)
df.head()

,City,StateProvinceName,CountryRegionName,PostalCode,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AvgMonthSpend,Age
0,Wollongong,New South Wales,Australia,2500,Bachelors,Clerical,M,M,1,3,0,1,81916,1,50.97,37.749487
1,Shawnee,British Columbia,Canada,V9B 2C3,Partial College,Clerical,M,M,1,2,1,2,81076,1,53.11,53.062286
2,West Covina,California,United States,91791,Bachelors,Clerical,F,S,0,3,0,0,86387,1,54.08,39.759069
3,Liverpool,England,United Kingdom,L4 4HB,Partial College,Skilled Manual,M,M,1,2,1,2,61481,1,56.93,47.819302
4,Werne,Nordrhein-Westfalen,Germany,59368,Partial College,Skilled Manual,M,S,1,1,0,0,51804,1,55.41,50.518823

#Part II: Data Preprocessing and Transformation

Depending on the data type of each attribute, transform each object from your preprocessed data.  
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do
not perform each task on the smaller data set that you got from your random sampling result.

a) Handling Null values

In [33]:
df.isna().sum()
df.dropna(inplace=True)
print(df.shape) #there are no null or na values in dataset

(18361, 16)

(b) Normalization

In [34]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_norm = df.copy()
df_norm[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']] = scaler.fit_transform(df_norm[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']])
print(df_norm.head())

          City    StateProvinceName CountryRegionName PostalCode  \
0   Wollongong      New South Wales         Australia       2500
1      Shawnee     British Columbia            Canada    V9B 2C3
2  West Covina           California     United States      91791
3    Liverpool              England    United Kingdom     L4 4HB
4        Werne  Nordrhein-Westfalen           Germany      59368

         Education      Occupation Gender MaritalStatus  HomeOwnerFlag  \
0        Bachelors        Clerical      M             M              1
1  Partial College        Clerical      M             M              1
2        Bachelors        Clerical      F             S              0
3  Partial College  Skilled Manual      M             M              1
4  Partial College  Skilled Manual      M             S              1

   NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome  \
0              0.6              0.000000       0.333333      0.496842
1              0.4              0.333333       0.666667      0.489453
2              0.6              0.000000       0.000000      0.536172
3              0.4              0.333333       0.666667      0.317083
4              0.2              0.000000       0.000000      0.231958

   BikeBuyer  AvgMonthSpend        Age
0          1       0.324210  37.749487
1          1       0.425201  53.062286
2          1       0.470977  39.759069
3          1       0.605474  47.819302
4          1       0.533742  50.518823

(c) Discretization (Binning) on Continuous attributes or Categorical Attributes with too many different
values

In [36]:
#equal width binning
df_ds1 = df.copy()
df_ds1['YearlyIncome_binned'] = pd.cut(df_ds1['YearlyIncome'], bins=3, labels=['low', 'medium', 'high'])
df_ds1['AvgMonthSpend_binned'] = pd.cut(df_ds1['AvgMonthSpend'], bins=3, labels=['low', 'medium', 'high'])
print(df_ds1[['YearlyIncome_binned', 'AvgMonthSpend_binned']].head())

  YearlyIncome_binned AvgMonthSpend_binned
0              medium                  low
1              medium               medium
2              medium               medium
3                 low               medium
4                 low               medium

In [40]:
#equal frequency binning
df_ds2 = df.copy()
df_ds2['YearlyIncome_bin'] = pd.qcut(df_ds2['YearlyIncome'], q=3, labels=['low', 'medium', 'high'])
df_ds2['AvgMonthSpend_bin'] = pd.qcut(df_ds2['AvgMonthSpend'], q=3, labels=['low', 'medium', 'high'])
print(df_ds2[['YearlyIncome_bin','AvgMonthSpend_bin']].head())

  YearlyIncome_bin AvgMonthSpend_bin
0           medium            medium
1           medium              high
2             high              high
3           medium              high
4              low              high

(d) Standardization/Normalization

In [41]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_std = df.copy()
df_std[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']] = scaler.fit_transform(df_std[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']])
print(df_std[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']].head())

   YearlyIncome  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0      0.298555         1.892524             -0.594371       0.161342
1      0.271180         0.798389              1.163279       1.239753
2      0.444261         1.892524             -0.594371      -0.917069
3     -0.367401         0.798389              1.163279       1.239753
4     -0.682765        -0.295746             -0.594371      -0.917069

   AvgMonthSpend
0      -0.231774
1       0.390755
2       0.672929
3       1.501999
4       1.059828

(e) Binarization (One Hot Encoding)

In [42]:
pd.get_dummies(df, columns=[ 'Education', 'Occupation', 'Gender', 'MaritalStatus',]).head()

,City,StateProvinceName,CountryRegionName,PostalCode,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,...,Education_Partial High School,Occupation_Clerical,Occupation_Management,Occupation_Manual,Occupation_Professional,Occupation_Skilled Manual,Gender_F,Gender_M,MaritalStatus_M,MaritalStatus_S
0,Wollongong,New South Wales,Australia,2500,1,3,0,1,81916,1,...,False,True,False,False,False,False,False,True,True,False
1,Shawnee,British Columbia,Canada,V9B 2C3,1,2,1,2,81076,1,...,False,True,False,False,False,False,False,True,True,False
2,West Covina,California,United States,91791,0,3,0,0,86387,1,...,False,True,False,False,False,False,True,False,False,True
3,Liverpool,England,United Kingdom,L4 4HB,1,2,1,2,61481,1,...,False,False,False,False,False,True,False,True,True,False
4,Werne,Nordrhein-Westfalen,Germany,59368,1,1,0,0,51804,1,...,False,False,False,False,False,True,False,True,False,True

#Part III: Calculating Proximity /Correlation Analysis of two features

Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each
nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct
similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively.

In [46]:
df_copy = df.copy()
#df_copy.head()
scaler = MinMaxScaler()
numerical_cols = ['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','AvgMonthSpend']
df_copy[numerical_cols] = scaler.fit_transform(df_copy[numerical_cols])
#print(df_copy[['YearlyIncome','NumberCarsOwned','NumberChildrenAtHome','TotalChildren']].head())
# Apply one-hot encoding with integer dtype
df_copy = pd.get_dummies(df_copy, columns=[ 'Education', 'Occupation', 'Gender', 'MaritalStatus'], dtype=int)
df_copy = df_copy.drop(['City', 'StateProvinceName', 'CountryRegionName', 'PostalCode'], axis=1)
print(df_copy.head())
print(df_copy.shape)

   HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0              1              0.6              0.000000       0.333333
1              1              0.4              0.333333       0.666667
2              0              0.6              0.000000       0.000000
3              1              0.4              0.333333       0.666667
4              1              0.2              0.000000       0.000000

   YearlyIncome  BikeBuyer  AvgMonthSpend        Age  Education_Bachelors  \
0      0.496842          1       0.324210  37.749487                    1
1      0.489453          1       0.425201  53.062286                    0
2      0.536172          1       0.470977  39.759069                    1
3      0.317083          1       0.605474  47.819302                    0
4      0.231958          1       0.533742  50.518823                    0

   Education_Graduate Degree  ...  Education_Partial High School  \
0                          0  ...                              0
1                          0  ...                              0
2                          0  ...                              0
3                          0  ...                              0
4                          0  ...                              0

   Occupation_Clerical  Occupation_Management  Occupation_Manual  \
0                    1                      0                  0
1                    1                      0                  0
2                    1                      0                  0
3                    0                      0                  0
4                    0                      0                  0

   Occupation_Professional  Occupation_Skilled Manual  Gender_F  Gender_M  \
0                        0                          0         0         1
1                        0                          0         0         1
2                        0                          0         1         0
3                        0                          1         0         1
4                        0                          1         0         1

   MaritalStatus_M  MaritalStatus_S
0                1                0
1                1                0
2                0                1
3                1                0
4                0                1

[5 rows x 22 columns]
(18361, 22)

(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two
following objects of your transformed input data.

In [49]:
def smc(a,b):
  return np.sum(a==b)/len(a)

def jaccard(a,b):
  return np.sum(a==b)/(np.sum(a==1)+np.sum(b==1)-np.sum(a==b))

def cosine(a,b):
  return np.dot(a,b)/(np.linalg.norm(a)*np.linalg.norm(b))

In [59]:
print('smc, jaccard, cosine between HomeOwnerFlag and NumberOfCarsOwned: \n',smc(df_copy.iloc[:,0],df_copy.iloc[:,1]),'\n', jaccard(df_copy.iloc[:,0],df_copy.iloc[:,1]),'\n', cosine(df_copy.iloc[:,0],df_copy.iloc[:,1]))

smc, jaccard, cosine between HomeOwnerFlag and NumberOfCarsOwned:
 0.11273895757311693
 0.2263779527559055
 0.7107455616871452

In [58]:
print('smc, jaccard, cosine between YearlyIncome and AvgMonthSpend: \n',smc(df_copy.iloc[:,4],df_copy.iloc[:,6]),'\n', jaccard(df_copy.iloc[:,4],df_copy.iloc[:,6]),'\n', cosine(df_copy.iloc[:,4],df_copy.iloc[:,6]))

smc, jaccard, cosine between YearlyIncome and AvgMonthSpend:
 0.0
 0.0
 0.883602549675865

In [ ]:
#note smc and jaccard can only be used for binary data so i will have to bin it first i think

In [57]:
print('smc, jaccard, cosine between HomeOwnerFlag and BikeBuyers: \n',smc(df_copy.iloc[:,0],df_copy.iloc[:,5]),'\n', jaccard(df_copy.iloc[:,0],df_copy.iloc[:,5]),'\n', cosine(df_copy.iloc[:,0],df_copy.iloc[:,5]))

smc, jaccard, cosine between HomeOwnerFlag and BikeBuyers:
 0.6225695768204346
 1.153364948037534
 0.6761544705611521

b) Calculate Correlation between two features Commute Distance and Yearly Income

In [56]:
#commute distance feature does not exist in dataset
#hence, i have calculated correlation between YearlyIncome and AvgMonthSpend
corr_val = df_copy['YearlyIncome'].corr(df_copy['AvgMonthSpend'])
print(corr_val)

0.5301257155563447